<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<hr>

<ul>
  <li>Posts length: {{model.posts.data.length}}</li>
  <li>Post 2 name: {{model.post2.data.attributes.title}}</li>
  <li>Comments for one: {{model.commentsFor1.data.length}}</li>
  <li>Comments for five: {{model.commentsFor5.data.length}}</li>
</ul>