{{#link-to 'posts'}}&larr; Back{{/link-to}}
<h1>{{ model.title }}</h1>

<code>{{ model.body }}</code>

{{#each model.comments as |comment|}}
<p>{{comment.body}}</p>
{{/each}}

<button {{action "generate" model}}>Generate comment</button>

<button {{action "paginate" model}}>Paginate</button>